# PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bookingcalendar?schema=public"

# JWT secrets (use long random strings in production)
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# Token lifetimes
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"

# App
NODE_ENV="development"

# SMS via Email (SMTP)
SMS_SMTP_HOST="smtp.emailsrvr.com"
SMS_SMTP_PORT=587
SMS_SMTP_SECURE=false
SMS_SMTP_USER=""
SMS_SMTP_PASS=""
SMS_EMAIL_FROM=""
SMS_SMTP_TLS_SERVERNAME="secure.emailsrvr.com"
SMS_SMTP_TLS_REJECT_UNAUTHORIZED=true

# Cron: Booking Data Fetch
CRON_BOOKING_DATA_FETCH_SCHEDULE_IN_MINUTES=5
CRON_BOOKING_DATA_FETCH_ENABLED=true
CRON_BOOKING_ENDPOINT_API_SECRET=""

# Cron: Auto-Assign RoomAttendant
CRON_AUTO_ASSIGN_ROOMATTENDATNT_SCHEDULE_IN_MINUTES=5
CRON_AUTO_ASSIGN_ROOMATTENDATNT_ENABLED=true
